
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
    }

    body{
        text-align: center;
        padding: 200px;
        background-color: black;
    }

    .titulo{
        margin-bottom: 12px;
    }

    .painel1 {
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        padding: 3%;
        margin: 0 auto; 
        max-width: 800px;
        border: 4px solid rgb(91, 228, 87);
        box-shadow: 1px 1px 20px 4px rgb(91, 228, 87);
        
    }
    .painel1>div{
        display: flex;
        justify-content: space-around
    }

    .endereco{
        display: block;
        margin: 0px 0px 10% 0px;
        padding: 0%;
        text-align: center;
        
    }

    .endereco>h3{
        margin-bottom: 40px;
    }

    .endereco>div{
        margin: 5px 0;
    }
    .endereco>div>input{
        width: 275px;
    }


    .forma{
        padding: 10px;
        display: flex;
        align-items: left;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        margin-right: 10px;
        width: 300px;
    }

    .forma img{
        height: 32px;
        width: 32px;
    }

    .forma>label {
        cursor: pointer;
        position: relative;
        color: black;
        font-size: 20px;
        width: 100%;
        display: flex;
        justify-content: start;
        text-align: center;
        transition: all 0.3s
    }

    input[type="radio"]{
        display: none;
        width: 400px;
    }

    input[type="radio"] + label::before {
        content: ''; 
        background-color: white; 
        border-radius: 5px;
        display: inline-block;
        margin-right: 10px; 
        position: relative;
        top: 5px; 
        transition: all 0.3s; 
    }
    input[type="radio"]:checked + label {
        color: black; 
        transform: scale(0,90,0);
        background-color: #dfdfdf; 
        border-color: #e4e4e4; 
        margin-right: 20px;
        border-radius: 10px;
    }
    .inputbox input{
        border: 2px solid #333;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        width: 136px;
        margin-top: 17px;

    }
    .btn {
        background-color: #27b737;
        color: white;
        border: 2px solid rgba(255, 255, 255, 0);
        border-radius: 6px 6px;
        transition-duration: 0.3s;
    }

    .btn:hover {
        border-radius:6px 6px;
        background-color: #ffffff; /* Green */
        color: rgb(103, 175, 89);
        box-shadow: 12px 0px 16px 0px rgba(0,0,0,0.24), 0px 17px 50px 0px rgba(0,0,0,0.19);

    }

    @media (max-width: 768px) {
        body {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
        }
    
        .painel1 {
            background-color: white;
            border-radius: 30px;
            padding: 3px;
            width: 330px;
            border: 4px solid rgb(91, 228, 87);
            box-shadow: 1px 1px 20px 4px rgb(91, 228, 87);
            position: fixed;
            
        }
        .painel1>div{
            display: block;

        }
    
        .forma img {
            height: 32px;
            width: 32px;
            margin-right: 12px;
        }
        
        .titulo {
            margin-top: 12px;
            margin-bottom: 12px;
        }
        
        .forma {
            padding: 10px;
            display: flex;
            align-items: center;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 10px;
            margin-right: 0px;
        }
    

        .input[type="radio"] + label {
            text-align: center;
            font-size: 22px; 
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
        }
    
        .input[type="radio"]:checked + label {
            color: black; 
            transform: scale(0,90,0);
            background-color: #dfdfdf; 
            border-color: #e4e4e4; 
            border-radius: 10px;
        }
        .endereco>h3{
            margin-bottom: 0%;
            margin-top: 20px;
        }
    }